<%= form_with(model: [:admin, event]) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='flex flex-col'>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
    <%= form.label :location %>
    <%= form.text_field :location, required: true %>
    <%= form.label :rsvp_link %>
    <%= form.text_field :rsvp_link, required: true %>
    <%= form.label :presentation %>
    <%= form.text_area :presentation %>
    <%= form.label :presenter %>
    <%= form.text_area :presenter %>
    <%= form.label :sponsor %>
    <%= form.text_field :sponsor %>
    <%= form.label :sponsor_link %>
    <%= form.text_field :sponsor_link %>
    <%= form.label :sponsor_logo %>
    <%= form.text_field :sponsor_logo %>
    <%= form.label :start_at %>
    <%= form.datetime_field :start_at, include_seconds: false, value: event&.start_at&.in_time_zone("Eastern Time (US & Canada)").presence || Time.zone.now.in_time_zone("Eastern Time (US & Canada)") %>
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Event.statuses_for_select, event.status) %>
    <%= form.submit %>
  </div>
<% end %> 
