<div id="<%= dom_id event %>" class="p-3 border rounded border-solid border-black">
  <% future = Time.zone.now < event.start_at %>
  <div class="md:flex text-left">
    <div class="w-full md:w-1/2 my-8 pr-1">
      <h2 class="mb-2"><%= link_to event.name, event %></h2>
      <div class="flex flex-col gap-3">
        <p class="mb-2"><%= event.start_time %></p>
        <%= simple_format(event.location) %>
        <p>Pizza and drinks provided by our sponsor.</p>
      </div>
    </div>

    <div class="w-full md:w-1/2 my-8 pl-1">
      <h2 class="mb-2">Agenda</h2>

      <p class="mb-0"><em>6pm</em></p>
      <p class="ml-4">
      Arrive, chat, and get pizza
      </p>

      <p class="mb-0"><em>7pm</em></p>
      <div class="ml-4">
        <div class="w-4/5 mt-2">
          <p>Presentation:</p>
          <p class="mb-0"><strong><%= event.presentation %></strong></p>
          <p>by <%= event.presenter&.html_safe %></p>
        </div>
      </div>

      <p class="mb-0"><em>remainder of time until 9pm</em></p>
      <p class="ml-4">
      Networking and drinks
      </p>

    </div>
  </div>
  <div class="mx-auto text-center">
    <% if future %>
      <div class="mb-6">
        <%= link_to event.rsvp_link, class: "rounded-full bg-ruby px-4 py-2.5 font-semibold text-white/100 shadow-sm ring-1 ring-inset ring-ruby hover:bg-red-400" do %>
          RSVP for free
        <% end %>
      </div>
    <% end %>
    <h3>Sponsor</h3>
    <div class="flex justify-center items-center">
      <%= link_to event.sponsor_link do %>
        <% if event.sponsor_logo.present? %>
          <%= image_tag "sponsors/#{event.sponsor_logo}", class: 'max-h-20' %>
        <% else %>
          <%= event.sponsor.titleize %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
