<header class="flex flex-col content-center justify-center">
  <%= image_tag "logo-transparent.png", class: "mx-auto max-w-[16rem] h-auto" %>
  <nav
    class="
      text-center grid grid-cols-2 gap-2 text-ruby sm:flex sm:flex-row
      sm:justify-center sm:gap-5
    "
  >
    <%= link_to "Home", root_path %>
    <%= link_to 'https://github.com/toronto-ruby/talks', class: 'external-link flex gap-1 justify-center items-center' do %>
      Propose a talk
    <% end %>
    <%= link_to "About", about_path %>
    <%= link_to "Code of Conduct", code_of_conduct_path %>
    <%= link_to "Calendar", calendar_path %>
    <%= link_to 'https://www.youtube.com/@TorontoRuby', class: 'external-link flex gap-1 justify-center items-center' do %>
      Youtube
    <% end %>
    <%= link_to "Chat", chat_path %>
    <%= link_to "Past Events", past_events_path %>
  </nav>
</header>
