<header class="flex flex-col content-center justify-center">
  <%= image_tag "logo-transparent.png", class: "mx-auto max-w-[16rem] h-auto" %>
  <nav class="text-center flex gap-5 justify-center text-ruby">
  <%= link_to 'Home', root_path %>
  <%= link_to 'About', about_path %>
  <%= link_to 'YouTube', 'https://www.youtube.com/@TorontoRuby' %>
  <%= link_to 'Chat', chat_path %>
  <%= link_to 'Past Events', past_events_path %>
  </nav>
</header>
