<header class="flex flex-col content-center justify-center">
  <%= image_tag "logo-transparent.png", class: "mx-auto max-w-[16rem] h-auto" %>
  <nav class="text-center flex gap-5 justify-center text-ruby">
  <%= link_to 'Home', root_path %>
  <%= link_to 'About', about_path %>
  <%= link_to 'https://www.youtube.com/@TorontoRuby', class: 'flex gap-1 justify-center items-center' do %>
    Youtube<svg class="stroke-ruby w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" /></svg>
  <% end %>
  <%= link_to 'Chat', chat_path %>
  <%= link_to 'Past Events', past_events_path %>
  </nav>
</header>
